@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

:root {
    --accent-color: #8672FF;
    --base-color: white;
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0; /* Light gray background */
}

.wrapper {
    background-color: var(--base-color);
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ensures the form is centered and not too wide */
}

h1 {
    font-size: 2.6rem;
    font-weight: 1000;
    text-transform: capitalize;
    color: blue;
    margin-bottom: 20px;
}

form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label {
    flex-shrink: 0;
    height: 35px;
    width: 35px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    flex-grow: 1;
    height: 35px;
    padding: 0.8em;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus) label {
    background-color: var(--text-color);
}

form input::placeholder {
    color: var(--text-color);
}

form button {
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%; /* Full width button */
    transition: background-color 150ms ease;
}

form button:hover,
form button:focus {
    outline: none;
    background-color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
}

form div.incorrect label {
    background-color: red;
}

form div.incorrect input {
    border-color: red;
}

#error-message {
    color: red;
    margin-bottom: 15px;
}